<h1>Angular Output Properties</h1>
<hr>
<div style="font-size: 20px;">
    <p>- Output property is used to send message from child to parent</p>
    <p>- This communication is achieved by emitting events from the child component, which the parent component listens</p>
</div>
<app-parent></app-parent>


<router-outlet></router-outlet>
